.contactos {
    border: solid 1px blue;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

.contenedor__contactos--list {
    border: solid 1px red;
}

.contenedor__contactos--tarjeta {
    width: 368px;
    height: 538px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    &:hover{
        box-shadow: 0px 8px 30px rgba(124, 16, 43, 0.1);
    }
}

.seccion__menu--titulo{
    border: solis 1px blue;
    width: 75.1px;
    height: 28px;
    background: #F0D1A5;
    border-radius: 6px;
    &:hover{
        background: black;
    }
}