$iconsprimarycolor: #D31342;
$iconssecundrycolor: #E1E1E1;
$customerbackgroundcolor: #FAFAFA;
$fontcolor: #000000;
$textfontsize: 12px;
$textlineheight: 255%;
$titlefontsize: 14px;
$titlelineheight: 186%;