/* sm responsive */
@media screen and (min-width: 320px) and (max-width: 480px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .background {
    height: 502px;
    position: relative;
    background: linear-gradient(130deg, #FFB8CA, rgb(133, 10, 36));
    background-size: 700%;
    -webkit-animation: back 8s infinite;
            animation: back 8s infinite;
  }
  @-webkit-keyframes back {
    0% {
      background-position: 0 30%;
    }
    50% {
      background-position: 50%;
    }
    100% {
      background-position: 0% 80%;
    }
  }
  .nav {
    position: relative;
  }
  .nav__img {
    margin-top: 2%;
    margin-left: 3%;
  }
  .nav__elipse {
    display: none;
  }
  .nav__link {
    display: none;
  }
  .button-container {
    display: none;
  }
  .body {
    height: 100%;
  }
  .body__img-group {
    float: right;
  }
  .body__elipse {
    display: none;
  }
  .body__elipsesm {
    margin-top: 10%;
    float: right;
    position: relative;
  }
  .body__img-group {
    float: right;
  }
  .body__img-ice {
    position: absolute;
    scale: 71%;
    margin-top: -10%;
    margin-left: 10%;
  }
  .body__img--girl {
    display: none;
  }
  .body .group-4__glass {
    display: none;
  }
  .body .group-4__par {
    display: none;
  }
  .body .group-4__svg {
    display: none;
  }
  .body .tittle {
    top: -50%;
    float: left;
    margin-left: 5%;
    position: relative;
  }
  .body .tittle__h2 {
    font-family: "Titan One", cursive;
    font-size: 26px;
    line-height: 29.77px;
    letter-spacing: 4%;
    color: #FFFFFF;
    font-weight: 400;
  }
  .body .tittle__span {
    font-family: "Titan One", cursive;
    font-size: 48px;
    line-height: 46.32px;
    letter-spacing: 4%;
    font-weight: 400;
    color: #D41443;
  }
  .body .tittle .buttons {
    margin-top: 5%;
  }
  .body .tittle .buttons__button {
    width: 62.4px;
    height: 24px;
    border: none;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 8px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #D41443;
    margin-right: 5%;
  }
  .body .tittle .buttons__button:hover {
    transform: translateY(-5px);
  }
  .body .tittle .buttons__button-whithe {
    width: 82.8px;
    height: 24px;
    border: none;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 8px;
    line-height: 10.42px;
    color: #D41443;
    background-color: #FFFFFF;
  }
  .body .tittle .buttons__button-whithe:hover {
    transform: translateY(-5px);
  }
  .group-2 {
    display: none;
  }
  .group-3 {
    display: none;
  }
  .modal {
    display: none;
  }
  .burbujas__burbuja {
    bottom: 0;
    opacity: 0.4;
    position: absolute;
    -webkit-animation: bubbles 6s normal infinite;
    animation: bubbles 6s normal infinite;
    border-radius: 50px;
  }
  .burbujas__burbuja:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 1%;
    -webkit-animation-duration: 8.5s;
    animation-duration: 8.5;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 20%;
    -webkit-animation-duration: 7.5s;
    animation-duration: 7.5s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 30%;
    -webkit-animation-duration: 8.7s;
    animation-duration: 8.7s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(4) {
    width: 10px;
    height: 10px;
    left: 35%;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(5) {
    width: 40px;
    height: 40px;
    left: 40%;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 45%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(7) {
    width: 20px;
    height: 20px;
    left: 55%;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(8) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(9) {
    width: 5px;
    height: 5px;
    left: 80%;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(10) {
    display: none;
  }
  .burbujas__burbuja:nth-child(11) {
    display: none;
  }
  .burbujas__burbuja:nth-child(12) {
    display: none;
  }
  .burbujas__burbuja:nth-child(13) {
    display: none;
  }
  .burbujas__burbuja:nth-child(14) {
    display: none;
  }
  .burbujas__burbuja:nth-child(15) {
    display: none;
  }
  .burbujas__burbuja:nth-child(16) {
    display: none;
  }
  .burbujas__burbuja:nth-child(17) {
    display: none;
  }
  .burbujas__burbuja:nth-child(18) {
    display: none;
  }
  @-webkit-keyframes bubbles {
    0% {
      transform: translateX(0%);
    }
    5% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(px);
    }
    75% {
      transform: translateX(0px);
    }
    100% {
      bottom: 100vh;
      transform: translateX(0px);
    }
  }
  @keyframes bubbles {
    0% {
      transform: translateX(0%);
    }
    5% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(px);
    }
    75% {
      transform: translateX(0px);
    }
    100% {
      bottom: 100vh;
      transform: translateX(0px);
    }
  }
}
/* medium responsive */
@media screen and (min-width: 481px) and (max-width: 767px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .background {
    width: 100%;
    height: 500px;
    position: relative;
    background: linear-gradient(120deg, #FFB8CA, rgb(133, 10, 36));
  }
  @-webkit-keyframes back {
    0% {
      background-position: 0 20%;
    }
    50% {
      background-position: 40%;
    }
    100% {
      background-position: 0% 70%;
    }
  }
  .nav {
    position: relative;
  }
  .nav__img {
    margin-top: 2%;
    margin-left: 3%;
  }
  .nav__elipse {
    display: none;
  }
  .nav__link {
    display: none;
  }
  .button-container {
    display: none;
  }
  .body {
    height: 100%;
  }
  .body__img-group {
    display: flex;
    justify-content: center;
    margin-top: -10%;
  }
  .body__elipsesm {
    display: none;
  }
  .body__img-group {
    display: flex;
    justify-content: center;
  }
  .body__elipse {
    display: flex;
    justify-content: center;
    scale: 70%;
    position: relative;
  }
  .body__img-ice {
    position: absolute;
    scale: 77%;
    top: 1%;
    margin-left: 50%;
  }
  .body__img--girl {
    display: none;
  }
  .body .group-4__glass {
    display: none;
  }
  .body .group-4__par {
    display: none;
  }
  .body .group-4__svg {
    display: none;
  }
  .body .tittle {
    top: 30%;
    float: left;
    margin-left: 5%;
    position: absolute;
  }
  .body .tittle__h2 {
    font-family: "Titan One", cursive;
    font-size: 36px;
    line-height: 39.77px;
    letter-spacing: 4%;
    color: #FFFFFF;
    font-weight: 400;
  }
  .body .tittle__span {
    font-family: "Titan One", cursive;
    font-size: 58px;
    line-height: 56.32px;
    letter-spacing: 4%;
    font-weight: 400;
    color: #D41443;
  }
  .body .tittle .buttons {
    margin-top: 5%;
  }
  .body .tittle .buttons__button {
    width: 62.4px;
    height: 24px;
    border: none;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #D41443;
    margin-right: 5%;
  }
  .body .tittle .buttons__button:hover {
    transform: translateY(-5px);
  }
  .body .tittle .buttons__button-whithe {
    width: 82.8px;
    height: 24px;
    border: none;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    line-height: 10.42px;
    color: #D41443;
    background-color: #FFFFFF;
  }
  .body .tittle .buttons__button-whithe:hover {
    transform: translateY(-5px);
  }
  .group-2 {
    display: none;
  }
  .group-3 {
    display: none;
  }
  .modal {
    display: none;
  }
  .burbujas__burbuja {
    bottom: 0;
    opacity: 0.4;
    position: absolute;
    -webkit-animation: bubbles 6s normal infinite;
    animation: bubbles 6s normal infinite;
    border-radius: 50px;
  }
  .burbujas__burbuja:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 1%;
    -webkit-animation-duration: 8.5s;
    animation-duration: 8.5;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 20%;
    -webkit-animation-duration: 7.5s;
    animation-duration: 7.5s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 30%;
    -webkit-animation-duration: 8.7s;
    animation-duration: 8.7s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(4) {
    width: 10px;
    height: 10px;
    left: 35%;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(5) {
    width: 40px;
    height: 40px;
    left: 40%;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 45%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(7) {
    width: 20px;
    height: 20px;
    left: 55%;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(8) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(9) {
    width: 5px;
    height: 5px;
    left: 80%;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    background-color: #FFFFFF;
  }
  .burbujas__burbuja:nth-child(10) {
    display: none;
  }
  .burbujas__burbuja:nth-child(11) {
    display: none;
  }
  .burbujas__burbuja:nth-child(12) {
    display: none;
  }
  .burbujas__burbuja:nth-child(13) {
    display: none;
  }
  .burbujas__burbuja:nth-child(14) {
    display: none;
  }
  .burbujas__burbuja:nth-child(15) {
    display: none;
  }
  .burbujas__burbuja:nth-child(16) {
    display: none;
  }
  .burbujas__burbuja:nth-child(17) {
    display: none;
  }
  .burbujas__burbuja:nth-child(18) {
    display: none;
  }
  @-webkit-keyframes bubbles {
    0% {
      transform: translateX(0%);
    }
    5% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(px);
    }
    75% {
      transform: translateX(0px);
    }
    100% {
      bottom: 100vh;
      transform: translateX(0px);
    }
  }
  @keyframes bubbles {
    0% {
      transform: translateX(0%);
    }
    5% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(px);
    }
    75% {
      transform: translateX(0px);
    }
    100% {
      bottom: 100vh;
      transform: translateX(0px);
    }
  }
}
/* large respndive */
@media screen and (min-width: 1024px) and (max-width: 1380px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .background {
    width: 100%;
    height: 664px;
    position: relative;
    background: linear-gradient(120deg, #FFB8CA, rgb(133, 10, 36));
    background-size: 400% 400%;
    -webkit-animation: back 7s infinite;
            animation: back 7s infinite;
  }
  @-webkit-keyframes back {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 40%;
    }
    100% {
      background-position: 0% 70%;
    }
  }
  .background .nav {
    position: absolute;
    width: 100%;
  }
  .background .nav__links {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .background .nav__link {
    margin-top: 1%;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
  .background .nav__link--pink {
    color: #D41443;
  }
  .background .nav__link:hover {
    color: #D41443;
    transform: translateY(-10px);
  }
  .background .nav .button-container {
    width: 159px;
    height: 44px;
    border-radius: 22px;
    border: none;
  }
  .background .nav .button-container:hover {
    transform: translateY(-10px);
  }
  .background .nav .button-container__span {
    font-family: "DM Sans", sans-serif;
    color: #D41443;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
  }
  .background .nav .button-container__svg {
    margin-left: 12px;
  }
  .background .body__img-group {
    display: inline-flex;
    margin-left: 45%;
    margin-top: 3.7%;
  }
  .background .body__elipse {
    float: left;
  }
  .background .body__elipsesm {
    display: none;
  }
  .background .body__img-ice {
    margin-left: -55%;
    margin-top: 7.4%;
  }
  .background .body__img--girl {
    float: right;
    margin-right: 2%;
    margin-top: 4.1%;
    position: relative;
  }
  .background .body .group-4 {
    display: inline-block;
    float: left;
    margin-left: 10%;
  }
  .background .body .group-4__glass {
    margin-left: 10%;
    margin-top: 2%;
  }
  .background .body .group-4__par {
    float: right;
    margin-left: 10%;
    margin-top: -35%;
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  .background .body .group-4__svg {
    float: right;
    margin-right: 37%;
    margin-top: -12%;
  }
  .background .body .group-4__svg:hover {
    scale: 1.1;
    transform: rotate(90deg);
  }
  .background .body .group-2 {
    float: right;
    position: relative;
    margin-top: -15%;
    left: 20%;
  }
  .background .body .group-2__span {
    font-family: "Titan One", cursive;
    font-size: 46px;
    color: #D41443;
    float: left;
    left: 14%;
    position: relative;
  }
  .background .body .group-2__svg {
    margin-right: 10%;
    float: left;
  }
  .background .body .group-2__text {
    float: right;
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-top: -3%;
    margin-right: 50%;
    position: relative;
    display: inline-block;
  }
  .background .body .group-3 {
    float: right;
    position: relative;
    margin-top: -6%;
    left: 23%;
  }
  .background .body .group-3__span {
    font-family: "Titan One", cursive;
    font-size: 46px;
    color: #D41443;
    float: left;
    left: 14%;
    position: relative;
  }
  .background .body .group-3__svg {
    margin-right: 10%;
    float: left;
  }
  .background .body .group-3__text {
    float: right;
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-top: -3%;
    margin-right: 50%;
    position: relative;
    display: inline-block;
  }
  .background .body .tittle {
    margin-top: -37%;
    margin-left: 14%;
  }
  .background .body .tittle__h2 {
    font-family: "Titan One", cursive;
    font-size: 38px;
    font-weight: 400;
    line-height: 43.51px;
    letter-spacing: 4%;
    color: #FFFFFF;
  }
  .background .body .tittle__span {
    color: #D41443;
    font-family: "Titan One", cursive;
    font-size: 58px;
    line-height: 52.49px;
    letter-spacing: 4%;
  }
  .background .body .tittle .buttons {
    margin-top: 1.5%;
  }
  .background .body .tittle .buttons__button-whithe {
    width: 138px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #D41443;
    background-color: #FFFFFF;
  }
  .background .body .tittle .buttons__button-whithe:hover {
    transform: translateY(-10px);
  }
  .background .body .tittle .buttons__button {
    width: 107px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #D41443;
    margin-right: 12px;
  }
  .background .body .tittle .buttons__button:hover {
    transform: translateY(-10px);
  }
  .background .modal {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 238, 250);
    background-color: rgba(255, 144, 172, 0.4);
  }
  .background .modal .popup {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .background .modal .popup__intcontent {
    width: 80%;
    height: 100%;
    border-radius: 5px;
    border: 4px solid #D41443;
    background-color: #FFB8CA;
    box-shadow: 0px 0px 5px 0 px #D41443;
  }
  .background .modal .popup__close {
    text-decoration: none;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-family: "Titan One", cursive;
    color: #D41443;
    font-size: 18px;
    font-weight: bold;
  }
  .background .modal .popup__h2 {
    font-family: "Titan One", cursive;
    font-size: 48px;
    line-height: 43.51px;
    text-align: center;
    color: #D41443;
  }
  .background .modal .popup__intcontent--imgs {
    height: 20%;
    display: flex;
    justify-content: space-around;
  }
  .background .modal .popup__intcontent--img {
    margin-top: -38px;
  }
  .background .modal .popup__intcontent--how {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1%;
  }
  .background .modal .popup__intcontent--input {
    border: 1px solid #D41443;
    border-radius: 5px;
    height: 2%;
    text-align: center;
  }
  .background .modal .popup__intcontent--input::-moz-placeholder {
    font-family: "DM Sans", sans-serif;
    color: #7b7979;
    text-align: center;
    font-size: 16px;
  }
  .background .modal .popup__intcontent--input:-ms-input-placeholder {
    font-family: "DM Sans", sans-serif;
    color: #7b7979;
    text-align: center;
    font-size: 16px;
  }
  .background .modal .popup__intcontent--input::placeholder {
    font-family: "DM Sans", sans-serif;
    color: #7b7979;
    text-align: center;
    font-size: 16px;
  }
  .background .modal .popup__intcontent--nombre {
    padding-left: 30%;
    padding-bottom: 2%;
  }
  .background .modal .popup__intcontent--text {
    display: block;
    font-family: "DM Sans", sans-serif;
    color: #D41443;
    font-size: 18px;
  }
  .background .modal .popup__intcontent--inputext {
    border: 1px solid #D41443;
    border-radius: 7px;
    height: 25px;
    padding-left: 5px;
  }
  .background .modal .popup__intcontent--inputext::-moz-placeholder {
    font-family: "DM Sans", sans-serif;
    color: #7b7979;
    padding-left: 10px;
    font-size: 16px;
  }
  .background .modal .popup__intcontent--inputext:-ms-input-placeholder {
    font-family: "DM Sans", sans-serif;
    color: #7b7979;
    padding-left: 10px;
    font-size: 16px;
  }
  .background .modal .popup__intcontent--inputext::placeholder {
    font-family: "DM Sans", sans-serif;
    color: #7b7979;
    padding-left: 10px;
    font-size: 16px;
  }
  .background .modal .popup__intcontent--inputextarea {
    margin-top: 10px;
    border: 1px solid #D41443;
    border-radius: 7px;
    height: 120px;
    font-family: "DM Sans", sans-serif;
    color: #7b7979;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5%;
    text-align: center;
    padding-top: 15px;
    width: 223px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .background .modal .popup__intcontent--boton {
    margin-top: -1%;
    text-align: center;
  }
  .background .modal .popup__button {
    font-family: "DM Sans", sans-serif;
    color: #D41443;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 5%;
    width: 159px;
    height: 44px;
    border-radius: 22px;
    border: none;
  }
  .background .modal .popup__button:hover {
    transform: translateY(-5px);
  }
  .background .modal:target {
    display: table;
    position: absolute;
    display: flex;
    justify-content: center;
    visibility: visible;
  }
  .background .burbujas {
    opacity: 0.4;
  }
  .background .burbujas__burbuja {
    bottom: 0;
    position: absolute;
    -webkit-animation: bubbles 2s normal infinite;
    animation: bubbles 2s normal infinite;
    border-radius: 50px;
  }
  .background .burbujas__burbuja:nth-child(1) {
    width: 100px;
    height: 100px;
    left: 1%;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(2) {
    width: 30px;
    height: 30px;
    left: 6%;
    -webkit-animation-duration: 4.5s;
    animation-duration: 4.5s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 10%;
    -webkit-animation-duration: 5.3s;
    animation-duration: 5.3s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(4) {
    width: 150px;
    height: 150px;
    left: 15%;
    -webkit-animation-duration: 5.9s;
    animation-duration: 5.9s;
    border-radius: 100px;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(5) {
    width: 60px;
    height: 60px;
    left: 17%;
    -webkit-animation-duration: 6.8s;
    animation-duration: 6.8s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(6) {
    width: 40px;
    height: 40px;
    left: 22%;
    -webkit-animation-duration: 4.3s;
    animation-duration: 4.3s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(7) {
    width: 70px;
    height: 70px;
    left: 28%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(8) {
    width: 20px;
    height: 20px;
    left: 34%;
    -webkit-animation-duration: 4.3s;
    animation-duration: 4.3s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(9) {
    width: 50px;
    height: 50px;
    left: 40%;
    -webkit-animation-duration: 5.2s;
    animation-duration: 5.2s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(10) {
    width: 90px;
    height: 90px;
    left: 40%;
    -webkit-animation-duration: 4.5s;
    animation-duration: 4.5s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(11) {
    width: 30px;
    height: 30px;
    left: 48%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(12) {
    width: 40px;
    height: 40px;
    left: 48%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(13) {
    width: 10px;
    height: 10px;
    left: 55%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(13) {
    width: 50px;
    height: 50px;
    left: 59%;
    -webkit-animation-duration: 4.8s;
    animation-duration: 4.8s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(13) {
    width: 90px;
    height: 90px;
    left: 62%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(14) {
    width: 20px;
    height: 20px;
    left: 69%;
    -webkit-animation-duration: 4.2s;
    animation-duration: 4.2s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(15) {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    left: 75%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(16) {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    left: 79%;
    -webkit-animation-duration: 4.8s;
    animation-duration: 4.8s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(16) {
    width: 70px;
    height: 70px;
    left: 84%;
    -webkit-animation-duration: 5.5s;
    animation-duration: 5.5s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(17) {
    width: 30px;
    height: 30px;
    left: 89%;
    -webkit-animation-duration: 3.7s;
    animation-duration: 3.7s;
    background-color: #FFFFFF;
  }
  .background .burbujas__burbuja:nth-child(17) {
    width: 40px;
    height: 40px;
    left: 90%;
    -webkit-animation-duration: 5.7s;
    animation-duration: 5.7s;
    background-color: #fffdfd;
  }
  @-webkit-keyframes bubbles {
    0% {
      transform: translateX(0%);
    }
    5% {
      transform: translateX(20px);
    }
    25% {
      transform: translateX(-32px);
    }
    75% {
      transform: translateX(40px);
    }
    100% {
      bottom: 100vh;
      transform: translateX(40px);
    }
  }
}/*# sourceMappingURL=header.css.map */