* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GALERY STYLES*/

#galery {
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.photo {
    display: flex;
    flex-direction: column;
}

.photo img {
    padding: 2.53px;
}

.end {
    height: 136px;
    padding-top: 31.4px;
}

.end img {
    display: flex;

}

.start {
    height: 136px;
    padding-top: 20.83px;
}

.start img {
    display: flex;

}

/*brake point for tablet*/

@media screen and (min-width: 768px) {

    .photo img {
        width: 94.41px;
        height: 94.77px;
        margin: 2.5px;
        transition: 0.3s;
    }

    .photo img:hover {
        transform: scale(1.25) translateX(-10px) translateY(-10px);
      }

    .end {
        height: 294px;
        padding-top: 67.37px;
    }
    
    .end img {
        display: flex;
    }
    
    .start {
        height: 294px;
        padding-top: 45.02px;
    }
    
    .start img {
        display: flex;
    }

    .big__image img{
        width: 193.6px;
        height: 193.73px;
    }
}

/*brake point for desktop*/

@media screen and (min-width: 1200px) {

    .photo img {
        width: 138px;
        height: 138.68px;
        margin: 4px;
        transition: 0.3s;
    }

    .photo img:hover {
        transform: scale(1.25) translateX(-10px) translateY(-10px);
      }

    .end {
        height: 430px;
        padding-top: 98.77px;
    }
    
    .end img {
        display: flex;
    }
    
    .start {
        height: 430px;
        padding-top: 65.85px;
    }
    
    .start img {
        display: flex;
    }

    .big__image img{
        width: 283px;
        height: 283.34px;
    }

}

/*SLIDE STYLES*/

#customer__slide {
    height: 634px;
    overflow: hidden;
}

.card {
    height: 100%;
    position: relative;
}

.card__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__items img {
    margin-bottom: 32px;
}

#customer__photo {
    margin-bottom: 32px;
}

.content__testimony {
    position: relative;
    background-color: #FAFAFA;
    width: 280px;
    height: 308px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.text__testimony {
    width: 157px;
    height: 239px;
    padding-top: 43px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: #000000;
    z-index: 1;
}

#quotation__marks {
    position: absolute;
    top: 30px;
    left: 53px;
}

.decorative__points {
    margin-bottom: 16px;
}

.customer__name {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.indicative__points {
    width: 72.4px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

#icon__home {
    color: #D31342;
  }
  
#icon__circle {
    color: #D9D9D9;
}

.carruselArrows {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 300px;
    padding-bottom: 0;
  }
  
  #arrows {
    display: none;
  }