
    <section class="form-register">
        <h4>Syper pyper Ice Cream</h4>

        <div class="work-images">
            <figure>
                <img src="/src/images/foto 1.png" height="200px" width="200px" alt="">
            </figure>
            <figure>
                <img src="/src/images/foto 2.png" height="200px" width="200px" alt="">
            </figure>
            <figure>
                <img src="/src/images/foto 3.png" height="200px" width="200px" alt="">
            </figure>
        </div>
        <div class="container">
            <input class="controls2" type="name" name="nombres" id="nombres" placeholder="how many?">
            <input class="controls2" type="name" name="nombres" id="nombres" placeholder="how many?">
            <input class="controls2" type="name" name="nombres" id="nombres" placeholder="how many?">
        </div>
        </br>
        <h3>Name</h3>
        <input class="controls" type="name" name="nombres" id="nombres" placeholder="Ingrese su nombre">
        <h3>Phone</h3>
        <input class="controls" type="phone" name="telefono" id="telefono" placeholder="Ingrese su telefono">
        <h3>Mail</h3>
        <input class="controls" type="mail" name="correo" id="correo" placeholder="Ingrese su correo">
        <input class="controls1" type="Write something and maybe we read this"
            name="Write something and maybe we read this"" id=" Write something and maybe we read this""
            placeholder="Write something and maybe we read this ">
        <input class="botons" class="controls" type="submit" value="I want that!">

    </section>
