<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styleshorario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Raleway:wght@700&display=swap"
        rel="stylesheet">
</head>
<body>

    <div class="containerh">
        <style>
            hr {
                border: none;
                height: 1px;
                background: #ddd;
            }
        </style>
         
         <div class="card"> 

            <div class="contenido1">
                <h3> CAFE </h3>
            </br>
            </br>
                <h4> Chicago </h4>
                </br>
                <p> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                
                <!-- LINEA -->
                </br>
                <hr>
                </br>
                
                <h5><strong>Monday - Friday </strong></h5>
                <h6><strong>06:00 AM - 10:00 PM</strong></h6>
                </br>

                <h5><strong>Saturday - Sunday</strong></h5>
                </br>
                <h6><strong>08:00 AM - 16:00 PM</strong></h6>

                <!-- LINEA -->
                </br>
                <hr>
                </br>

                <h2><strong>+61(0) 383 766 284
                noreply@envato.com</strong></h2>
                
            </div>
        </div>
        <div class="card">

            <div class="contenido1">
                <div class="food">
                <h3> FOODTRUCK</h3></div>
                </br>
                </br>
                <h4> Los Angeles</h4>
                </br>
                <p> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                
                <!-- LINEA -->
                </br>
                <hr>
                </br>

                <h5> <strong>Monday - Friday </strong></h5>
                <h6><strong>06:00 AM - 10:00 PM</strong></h6>
                </br>

                <h5><strong>Saturday - Sunday</strong></h5>
                </br>
                <h6><strong>08:00 AM - 16:00 PM</strong></h6>

                <!-- LINEA -->
                </br>
                <hr>
                </br>
                
                <h2><strong>+61(0) 383 766 284
                        noreply@envato.com</strong></h2>
            </div>
        </div>
        <div class="card">

            <div class="contenido1">
                <h3> CAFE </h3>
                </br>
                </br>
                <h4> New York </h4>
                </br>
                <p> Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                
                <!-- LINEA -->
                </br>
                <hr>
                </br>

                <h5><strong>Monday - Friday </strong></h5>
                <h6><strong>06:00 AM - 10:00 PM</strong></h6>
                </br>

                <h5><strong>Saturday - Sunday</strong></h5>
                </br>
                <h6><strong>08:00 AM - 16:00 PM</strong></h6>

                <!-- LINEA -->
                </br>
                <hr>
                </br>
                
                <h2><strong>+61(0) 383 766 284
                        noreply@envato.com</strong></h2>
                
            </div>
        </div>
    </div>
    


</body>
</html>