<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoIceCream</title>
    <link rel="stylesheet" href="/src/sass/galery&customer.css">
    <link rel="stylesheet" href="/src/sass/galery&customer.scss"> 
    <link rel="stylesheet" href="/css/modern-normalize.css">
    <!--estos links son referentes a la fuente de texto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <!--este link es referente a los iconos de texto-->
    <script src="https://kit.fontawesome.com/aebc47cd0f.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="galery">
            <div class="photo">
                <img src="/src/images/home-pic5 5.png" alt="galery" width="138" height="138.68">
            </div>
            <div class="photo">
                <img src="/src/images/home-pic5 4.png" alt="galery" width="138" height="138.68">
                <img src="/src/images/home-pic5 6.png" alt="galery" width="138" height="138.68">
            </div>
            <div class="photo">
                <img src="/src/images/home-pic5 1.png" alt="galery" width="283" height="283.34">
                <img src="/src/images/home-pic5 7.png" alt="galery" width="138" height="138.68">
            </div>
            <div class="photo">
                <img src="/src/images/home-pic5 9.png" alt="galery" width="138" height="138.68">
                <img src="/src/images/home-pic5 8.png" alt="galery" width="138" height="138.68">
            </div>
            <div class="photo">
                <img src="/src/images/home-pic5 10.png" alt="galery" width="138" height="138.68">
                <img src="/src/images/home-pic5 12.png" alt="galery" width="138" height="138.68">
            </div>
            <div class="photo">
                <img src="/src/images/home-pic5 11.png" alt="galery" width="138" height="138.68">
            </div>
        </div>
        <div id="contentCarrusel">
            <div class="carruselTestimonials" id="carruselTestimonials-1">
                <div class="carruselItems" id="testimony-1">
                    <img src="/src/images/testimonials1 1.png" alt="galery" width="85" height="85">
                    <div class="contentTestimony">
                        <p class="testimony">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <img src="/src/images/“.png" id="quotationMarks" alt="galery" width="54px" height="40px">
                    </div>
                    <div>
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px">
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px"> 
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px">                     
                    </div>
                    <h2 class="datesTestimony">Emily, Los Angeles</h2>
                    <div id="contentPoints">
                        <i class="fa-solid fa-house" id="iconHome"></i>
                        <i class="fa-solid fa-circle" id="iconCircle"></i>
                        <i class="fa-solid fa-circle" id="iconCircle"></i>
                    </div>
                </div>
                <div class="carruselArrows">
                    <a href="#carruselTestimonials-3">
                        <i class="fa-solid fa-chevron-left" id="arrows"></i>
                    </a>
                    <a href="#carruselTestimonials-2">
                        <i class="fa-solid fa-chevron-right" id="arrows"></i>
                    </a>
                </div>
            </div>
            <div class="carruselTestimonials" id="carruselTestimonials-2">
                <div class="carruselItems" id="testimony-2">
                    <img src="/src/images/testimonials1 4.png" alt="galery" width="85" height="85">
                    <div class="contentTestimony">
                        <p class="testimony">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <img src="/src/images/“.png" id="quotationMarks" alt="galery" width="54px" height="40px">
                    </div>
                    <div>
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px">
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px"> 
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px">                     
                    </div>
                    <h2 class="datesTestimony">Agata, California</h2>
                    <div id="contentPoints">
                        <i class="fa-solid fa-circle" id="iconCircle"></i>
                        <i class="fa-solid fa-house" id="iconHome"></i>
                        <i class="fa-solid fa-circle" id="iconCircle"></i>
                    </div>
                </div>
                <div class="carruselArrows">
                    <a href="#carruselTestimonials-1">
                        <i class="fa-solid fa-chevron-left" id="arrows"></i>
                    </a>
                    <a href="#carruselTestimonials-3">
                        <i class="fa-solid fa-chevron-right" id="arrows"></i>
                    </a>
                </div>
            </div>
            <div class="carruselTestimonials" id="carruselTestimonials-3">
                <div class="carruselItems" id="testimony-3">
                    <img src="/src/images/testimonials1 3.png" alt="galery" width="85" height="85">
                    <div class="contentTestimony">
                        <p class="testimony">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <img src="/src/images/“.png" id="quotationMarks" alt="galery" width="54px" height="40px">
                    </div>
                    <div>
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px">
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px"> 
                        <img src="/src/images/Ellipse 6.png" alt="galery" width="4px" height="4px">                     
                    </div>
                    <h2 class="datesTestimony">Mila, New York City</h2>
                    <div id="contentPoints">
                        <i class="fa-solid fa-circle" id="iconCircle"></i>                        
                        <i class="fa-solid fa-circle" id="iconCircle"></i>
                        <i class="fa-solid fa-house" id="iconHome"></i>
                    </div>
                </div>
                <div class="carruselArrows">
                    <a href="#carruselTestimonials-2" id="arrows">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                    <a href="#carruselTestimonials-1" id="arrows">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
    
</html>